<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Surety</Name>
    <Version>1.0.0</Version>
    <Title>Surety Setup</Title>
    <Publisher>Homie</Publisher>
    <InstallerWindowIcon>surety</InstallerWindowIcon>
    <InstallerApplicationIcon>surety</InstallerApplicationIcon>
    <ProductUrl>https://github.com/SoloHomie/Surety</ProductUrl>
    <StartMenuDir>Surety</StartMenuDir>
    <TargetDir>@HomeDir@/Surety</TargetDir>
    <ControlScript>installer.qs</ControlScript>
</Installer>
